# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Dados originais e grandes (NÃO subir o Excel original)
data/raw/*.xlsx
*.xlsx
*.xls

# Arquivos gerados pelo Power BI
*.pbix.backup
*.pbix.~lock
*.pbix

# Ambientes virtuais
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Cache e logs
*.log
.cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# MacOS
.DS_Store

# Pastas temporárias do VS Code
.vscode/
*.code-workspace

# Output e resultados gerados
output/
results/